:root {
  --color-white: #fff;
  --color-grey: #c4c4c4;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
}
/* End CSS Reset */

/* Card Style */
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e5f7;
  background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%),
    linear-gradient(225deg, #6bda11 25%, transparent 25%),
    linear-gradient(45deg, #44a1f7 25%, transparent 25%),
    linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
  background-position: 4px 0, 4px 0, 0 0, 0 0;
  background-size: 4px 4px;
  background-repeat: repeat;
}

.lights-control {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 1rem;
  top: 2rem;
}

.lights_header {
  color: #000;
  text-transform: capitalize;
}

.lights-input {
  display: none;
}

.lights-label {
  width: 3.8rem;
  height: 1.9rem;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  background-color: black;
  transition: all 0.7s ease-out;
}

.lights-label::after {
  content: "";
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: background-color 0.3s;
}

.lights-input:checked + .lights-label {
  background-color: var(--color-white);
}

.lights-input:checked + .lights-label::after {
  transform: translateX(1.7rem);
  background: linear-gradient(#468397, #0e2052);
}

.card {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  width: 35rem;
  overflow: hidden;
  box-shadow: 0 0 0.9rem rgba(3, 77, 138, 0.678);
}

.top {
  display: flex;
  align-items: center;
  height: 10rem;
  background-color: #e5e5f7;
  background-size: 7px 7px;
  background-image: repeating-linear-gradient(
    45deg,
    #444cf7 0,
    #444cf7 0.7000000000000001px,
    #e5e5f7 0,
    #e5e5f7 50%
  );
  overflow: hidden;
}

.party {
  display: inline-block;
  height: 100vh;
  width: 100vw;
}

.container:has(.lights-input:checked) .party {
  background: linear-gradient(#33ccff, #1a1a1d, #0fc445);
  animation: animate_bg 3s linear infinite;
}

@keyframes animate_bg {
  from {
    scale: 1.5;
    transform: rotate(0deg);
  }

  to {
    scale: 1.5;
    transform: rotate(360deg);
  }
}

.middle {
  margin: 0 auto;
  text-align: center;
  margin-top: -6rem;
  z-index: 1;
}

.pic {
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  border: 0.4rem solid var(--color-white);
  background: var(--color-white);
}

@keyframes animate_img {
  0% {
    border: 0;
    box-shadow: 0 0 6px 1.5px #f0f075;
  }
  20% {
    box-shadow: 0 0 6px 1.5px #75f075;
  }
  40% {
    box-shadow: 0 0 6px 1.5px #75f0f0;
  }
  60% {
    box-shadow: 0 0 6px 1.5px #7575f0;
  }
  80% {
    box-shadow: 0 0 6px 1.5px #f075f0;
  }
  100% {
    border: 0;
    box-shadow: 0 0 6px 1.5px #f07575;
  }
}

.container:has(.lights-input:checked) .pic {
  animation: animate_img 1.5s infinite alternate;
}

.title {
  font-size: 2.2rem;
}

.profession {
  font-size: 1.6rem;
}

.bottom {
  display: flex;
  margin-top: 3rem;
  border-top: 0.1rem solid var(--color-grey);
}

.column {
  flex: 1;
  text-align: center;
  padding: 1.8rem 1.5rem;
}

.column:nth-child(2) {
  border-left: 0.1rem solid var(--color-grey);
  border-right: 0.1rem solid var(--color-grey);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.username {
  font-size: 1.1rem;
}
